<div class="panel panel-primary">
  <div class="panel-heading">插值语法和表达式</div>
  <div class="panel-body">
    <h3>欢迎来到{{ title }}</h3>
    <p>1 + 1 = {{ 1 + 1 }}</p>
    <p>{{ getVal() }}</p>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">*ngIf的使用</div>
  <div class="panel-body">
    <p *ngIf="isShow">内容是否要显示</p>
    <button class="btn btn-success" (click)="toggleShow()">切换内容</button>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">*ngFor的使用</div>
  <div class="panel-body">
    请选择游戏：
    <ul>
      <li *ngFor="let race of raceList; let i = index;">{{i+1}} {{race.name}}</li>
    </ul>
  </div>
</div>

<!-- <div class="panel panel-primary">
  <div class="panel-heading">*ngSwitch的使用</div>
  <div class="panel-body">
    <div [ngSwitch]="mapStatus"></div>
    <p *ngSwitchCase="'进行中'">进行中</p>
    <p *ngSwitchCase="'下载中'">下载中</p>
    <p *ngSwitchCase="'系统繁忙'">系统繁忙</p>
  </div>
</div> -->

<div class="panel panel-primary">
  <div class="panel-heading">ngClass的使用</div>
  <div class="panel-body">
    <div [ngClass]="currentClass">同时批量设置多个样式</div>
    <button class="btn btn-success" (click)="setCurrentClass()">设置</button>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">ngStyle的使用</div>
  <div class="panel-body">
    <div [ngStyle]="currentClass">ngStyle批量修改内联样式</div>
    <button class="btn btn-success" (click)="changeCurrentClass()">设置</button>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">ngModel的使用</div>
  <div class="panel-body">
    <p class="text-danger">ngModel只能用在表单类的元素上</p>
    <input type="text" [(ngModel)]="currentRace.name">
    <p>{{ currentRace.name }}</p>
  </div>
</div>
