<div class="container">

    <!-- 动效 -->
    <!-- <animation></animation> -->

    <!-- 创建动态组件，给动态组件传参 -->
    <!-- <test-dynamic></test-dynamic> -->

    <!-- shadowDom模式 -->
    <!-- <test-shadow-dom></test-shadow-dom> -->
    <!-- <test-emulated-mode></test-emulated-mode> -->

    <!-- 内容投影 -->
    <!-- <test-ng-content></test-ng-content> -->

    <!-- 使用ContentChild -->
    <!-- <test-content-child></test-content-child> -->
    <!-- 使用ViewChild -->
    <test-view-child></test-view-child>
</div>
