<!-- 模块 -->
<!-- <div class="container">
    <user-list></user-list>
    <order-list></order-list>
</div> -->

<!-- 路由及异步模块 -->
<!-- 顶部导航 -->
<div class="navbar navbar-fixed-top main-nav" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <!-- <li routerLinkActive="active">
                <a routerLink="['home', 1]">home</a>
            </li> -->
            <li routerLinkActive="active">
                <a routerLink="home">home</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="jokes">jokes</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="order-list">订单列表</a>
            </li>
            <!-- <li routerLinkActive="active">
                <a  [routerLink]="['user-list', 1]">用户列表</a>
            </li> -->
            <li routerLinkActive="active">
                <a [routerLink]="['user-list', {userName:'lkx'}]">用户列表</a>
            </li>
            <!-- <li routerLinkActive="active">
                <a [routerLink]="preload-all">预加载</a>
            </li> -->

        </ul>
    </div>
</div>

<!-- 主体内容区域 -->
<div class="container main-container">
    <router-outlet></router-outlet>
</div>
