<div class="container">
    <!-- <app-test-interpolation></app-test-interpolation>
    <app-test-template-ref-var></app-test-template-ref-var>
    <app-test-pipe></app-test-pipe>
    <app-component-communication></app-component-communication> -->

    <div class="jumbotron">
    <!-- 生命周期钩子 -->
        <!-- <app-life-cycle title="父组件传递进来的标题"></app-life-cycle> -->
        <!-- <app-test-on-changes></app-test-on-changes> -->
        <!-- <app-test-ng-content></app-test-ng-content> -->
    </div>
    <animation></animation>
</div>
