@import "../node_modules/_bootstrap@3.4.1@bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/_font-awesome@4.7.0@font-awesome/css/font-awesome.css";

* {
    font-family: '微软雅黑', 'Microsoft YaHei', '宋体', Tahoma, Helvetica, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: '微软雅黑', 'Microsoft YaHei', '宋体', Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}